<!DOCTYPE html>
<html>
  <head>
    <title>Kuru Anime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <GSuite> -->
    <meta name="google-site-verification" content="sSGGhZXn3FWQZdSrAJHAiFmw4ONDY3bR4wp5iS03tic" />
    <!-- </GSuite> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
